*


{
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body
{
    width: 100%;

}

header
{

	height: 80px;
	background-color: lightyellow;
}

div.navbar
{
	padding-left: 100px;
}

div.navbar ul
{
    display: flex;
	flex-direction: row;
	list-style: none;
}

div.navbar ul a
{
	text-decoration: none;
	color: gray;
	line-height: 80px;
	margin-left: 20px;
	font-size: 1.8em;
	font-family: "Lato", sans-serif;
	
}

div.navbar ul a:hover 
{
	display: inline-block;
	text-align: center;
    color: #001f4d;
    transition: 0.3s;
    text-decoration: underline;




}

main div h5 img
{
	border-radius: 15px;
    width: 730px;
    height: 410px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 250px;
    background-color: #001f4d;
    padding: 20px 20px;

}  

footer
{
	
	background-color: lightyellow;
	height: 80px;	

}

footer ul h4
{
	
	margin-left: 80px;
	margin-top: 3px;
	color: #001f4d;

	
}
footer ul h3
{

	margin-left: 30px;
	margin-top: 10px;
	color: #001f4d;
}

body
{
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	
	min-height: 100vh;
	background-image: url(https://wallpaperaccess.com/full/7285.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
   
}


main div h1
{
	text-align: center;
	margin-top: 130px;
	font-size: 3.9em;
}
main div h2
{
	text-align: center;
	margin-top: 100px;
	font-size: 2.5em;
	background-position: center;
	height: 390px;

	margin-top: 100px;

	margin-left: 167px;
	margin-right: 167px;
	background-color: lightyellow;
	border-radius: 15px;
	font-family: "Architects Daughter", sans-serif;

}

main div h5
{
	font-size: 2.8em;
	margin-left: 200px;
	margin-top: 30px;
	color: lightyellow;
}

main div h6
{
	font-size: 30px;
	margin-left: 320px;
	margin-top: 80px;
	color: lightyellow;
}


main div h6 img
{
	border-radius: 8px;
    width: 400px;
    height: 260px;
    margin-top: 3px;
    margin-bottom: 30px;
    margin-left: 400px;

}  
h6
{
    text-align: justify;
	height: 1440px;
	width: 800px;
}

span
{
	margin-bottom: 30px;
	margin-left: 30px;
	font-size: 30px;
	color: #ffff99;
	
}

 main ul li
{

    margin-left: 160px;
	margin-top: 3px;
	color: lightyellow;
	font-size:25px;
	margin-bottom: 10px;
	
}

main p span

{
    width: 300px;
    margin-left: 0px;
	color: lightyellow;
	margin-bottom: 10px;
	
    }

h6 b
{

	color: #ffff99;
	margin-left: -110px;
	font-size: 1.2em;

}
main div h5 img:hover
{
	border-radius: 15px;
    width: 730px;
    height: 410px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 250px;
    background-color: lightyellow;
    padding: 8px 8px;

}  